<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA15rsK_s9KxDiDuo3xt-CZb3YjHZaVUdo</string>
	<key>GCM_SENDER_ID</key>
	<string>255305502265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speechlabDashboard</string>
	<key>PROJECT_ID</key>
	<string>speechlab-31612</string>
	<key>STORAGE_BUCKET</key>
	<string>speechlab-31612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255305502265:ios:1ead0fc80d7a0d3d4847e8</string>
</dict>
</plist>